<!-- <h1>Cars</h1>
<table mat-table [dataSource]="cars"
    class="mat-elevation-z8">
    Id Column 
    <ng-container matColumnDef="carid">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let car">{{car.carid}}</td>\
    </ng-container> 
    <ng-container matColumnDef="carname">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let car">{{car.Name}}</td>
    </ng-container> 
    <ng-container matColumnDef="cardrivetrain">
        <th mat-header-cell *matHeaderCellDef>Drivetrain</th>
        <td mat-cell *matCellDef="let car">{{car.Drivetrain}}</td>
    </ng-container> 
    <ng-container matColumnDef="caryear">
        <th mat-header-cell *matHeaderCellDef>Year</th>
        <td mat-cell *matCellDef="let car">{{car.year}}</td>
    </ng-container> 
    <ng-container matColumnDef="manufacturer">
        <th mat-header-cell *matHeaderCellDef>Manufacturer</th>
        <td mat-cell *matCellDef="let car">{{car.manufacturerId}}</td>
    </ng-container> 
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
</table> -->
<h1>Cars</h1>
<table mat-table [dataSource]="cars" class="mat-elevation-z8">
    <!-- Id Column -->
    <ng-container matColumnDef="carid">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let car">{{ car.carId }}</td>
    </ng-container> 

    <!-- Name Column -->
    <ng-container matColumnDef="carname">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let car">{{ car.carName }}</td>
    </ng-container> 

    <!-- Drivetrain Column -->
    <ng-container matColumnDef="cardrivetrain">
        <th mat-header-cell *matHeaderCellDef>Drivetrain</th>
        <td mat-cell *matCellDef="let car">{{ car.cardrivetrain }}</td>
    </ng-container> 

    <!-- Year Column -->
    <ng-container matColumnDef="caryear">
        <th mat-header-cell *matHeaderCellDef>Year</th>
        <td mat-cell *matCellDef="let car">{{ car.carYear }}</td>
    </ng-container> 

    <!-- Manufacturer Column -->
    <ng-container matColumnDef="manufacturerId">
        <th mat-header-cell *matHeaderCellDef>Manufacturer ID</th>
        <td mat-cell *matCellDef="let car">{{ car.manufacturerId }}</td>
    </ng-container> 

    <!-- Header and Rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let car; columns: displayedColumns;"></tr> 
</table>

