<header>
    <mat-toolbar color="primary">
        <button mat-icon-button [routerLink]="['/']">
          <mat-icon>home</mat-icon>
        </button>
  
        <a mat-flat-button color="primary" [routerLink]="['/manufacturers']">Manufacturers</a>
        <span class="separator"></span>
        @if(isLoggedIn){
          <a mat-flat-button color="primary" (click) ="onLogout()" >Logout</a>
        }
        @else{
          <a mat-flat-button color="primary" [routerLink]="['/login']">Login</a>
        }
        
        
    </mat-toolbar>
  </header> 