<h1 id = "tableLabel">Manufacturers</h1>
<table class= "table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        @for(Manufacturer of manufacturers; track $index) {
            <tr>
                <td><a [routerLink]="['/manufacturerCars', Manufacturer.manufacturer_id]">{{Manufacturer.manufacturer_id}}</a>
                    </td>
                <td>{{Manufacturer.manufacturer_name}}</td>
                <td>{{Manufacturer.manufacturer_country}}</td>
            </tr>
        }
       
    </tbody>
</table>